<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <label>
        Course:
        <input type="text" v-model="course" />
      </label>
      <label>
        Grn:
        <input type="text" v-model="grn" />
      </label>
      <label>
        Doll:
        <input type="text" :value="doll" />
      </label>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        //Змінні, які ми змінюємо напряму
        data: {
          course: 27.3,
          grn: 1000,
        },
        //Величини, які автоматично змінюються
        //на основі інших змінних
        computed: {
          doll: function () {
            let c = this.course || 1
            return this.grn / c
          },
        },
      })
    </script>
  </body>
</html>
